<h3 class="text-center">Cart Info</h3>
<table class="table table-bordered">
    <tr class="text-center">
        <th>Options</th>
        <th>Id</th>
        <th>Name</th>
        <th>Price</th>
        <th>quantity</th>
        <th>Sub Totel</th>
   </tr>
   <tr *ngFor="let item of items">
       <td align="center">
      Remove     <button class="btn btn-danger" (click)="remove(item.product.id)">X</button >
       </td>
       <td>
           {{item.product.id}}
       </td>
       <td>
           {{item.product.name}}
       </td>
       <td>
           {{item.product.price}}
       </td>
       <td>{{item.quantity}}</td>
    <td>
        {{item.product.price*item.quantity}}
    </td>
   </tr>
<tr>
    <td colspan="6" align="right">
  <button class="btn btn-warning" routerLink="/products">Back</button>  Total:{{total}}</td>
</tr>
</table>
<router-outlet></router-outlet>